#tooltip {
    position:absolute;
    width:200px;
    height:auto;
    padding:10px;
    background-color:white;
    border-radius: 10px;
}
#tooltip.hidden{
    display:none;
}


#tooltip2 {
    position:absolute;
    width:200px;
    height:auto;
    padding:10px;
    background-color:white;
    border-radius: 10px;
}
#tooltip2.hidden2{
    display:none;
}


